/* ─── Device Creator Cascading Selectors ─────────────────────────────────────── */

.basic_ui_select_pack {
    flex: 1;
    min-width: 95px;
    max-width: 170px;
}

.basic_ui_select_device {
    flex: 1.6;
    min-width: 115px;
}
