:root {
    --md-sys-color-surface: #11111b;
    --md-sys-color-surface-container: #1e1e2e;
    --md-sys-color-surface-container-high: #313244;
    --md-sys-color-surface-container-highest: #45475a;
    --md-sys-color-on-surface: #cdd6f4;
    --md-sys-color-on-surface-variant: #a6adc8;
    --md-sys-color-primary: #89b4fa;
    --md-sys-color-tertiary: #a6e3a1;
    --md-sys-color-error: #f38ba8;
    --md-sys-color-outline-variant: #45475a;
    --md-sys-shape-corner-large: 12px;
}
